.companies {
	.section__header {
		margin-bottom: 30px;
		max-width: 100%;
	}
	// .companies__content

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		img {
			padding: 0 10px;
		}
	}
}
