.section {
  // .section__header

  &__header {
    // .section__header_center

    &_center {
    }
  }

  // .section__title

  &__title {
  }

  // .section__subtitle

  &__subtitle {
  }
}
.discover {
  &__button {
    display: block;
    margin: 0 auto;
  }

  // .discover__content

  &__content {
  }
}
.container {
}
.content-discover {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(50px - 24px);

  // .content-discover__item

  &__item {
  }
}

.content-discover-item {
  display: flex;
  align-items: center;
  margin: 0 24px 24px 0;
  max-width: calc(50% - 24px);
  padding-right: 27px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  text-decoration: none;

  // .content-discover-item__image

  &__image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-right: 24px;
  }

  // .content-discover-item__column

  &__column {
  }

  // .content-discover-item__title

  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: $dark-gray;
  }

  // .content-discover-item__text

  &__text {
    line-height: 24px;
    margin: 10px 0;
    color: $gray;
  }

  // .content-discover-item__price

  &__price {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5440d9;
  }
}
