.footer {
	background-color: #161616;
	padding: 130px 0;
	margin-top: 130px;
	// .footer__container

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
        max-width: 360px;
        text-align: center;
	}

	// .footer__logo

	&__logo {
	}

	// .footer__address

	&__address {
		font-size: 16px;
		line-height: 28px;
		color: #e8e8e8;
		margin: 10px 0;
	}

	// .footer__links

	&__links {
		color: #e8e8e8;
		font-size: 15px;
		line-height: 126%;
        a {
            color: inherit;
            font-size: inherit;
            line-height: inherit;
            text-decoration: none;
        }
        margin-bottom: 20px;
	}

	// .footer__social

	&__social {
		display: flex;
	}
}
.social-footer {
	// .social-footer__item

	&__item {
        width: 40px;
        height: 40px;
        background-color: #242424;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:not(:last-child) {
            margin-right: 15px;
        }
	}
}
