@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  padding: 50px 0;
  background-color: $white;
  &_scroll {
    position: fixed;
    z-index: 99;
    padding: 20px 0;
    animation: showBlock 0.5s ease-in forwards;
  }
  // .header__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__logo

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #5541da;
  }

  // .header__nav

  &__nav {
  }

  // .header__button

  &__button {
  }
}
.container {
}
.logo {
}
.nav {
  // .nav__list

  &__list {
    display: flex;
    list-style: none;
    gap: 60px;
    padding: 0;
  }

  // .nav__item

  &__item {
  }

  // .nav__link

  &__link {
    font-size: 18px;
    line-height: 27px;
    color: $dark-gray;
    text-decoration: none;
  }
}
