.ready {
  .container {
    border-radius: 5px;
    background-color: #5440d9;
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .ready__content
  .section__title {
    margin-bottom: 20px;
  }
  &__content {
    flex-basis: 528px;
    margin-right: 20px;
  }
}
