.students {
	// .students__row

	&__row {
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
	}

	// .students__item

	&__item {
		border: 1px solid #e8e8e8;
		border-radius: 5px;
	}

    .button {
        display: block;
        margin: 0 auto;
    }
}
.item-students {

	// .item-students__title

	&__title {
		padding: 21px;
		padding-bottom: 0;
		margin-bottom: 5px;
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
		color: $dark;
	}

	// .item-students__subtitle

	&__subtitle {
		padding: 21px;
		padding-top: 0;
	}
}
